<h1>Add Yourself to the Parade</h1>

<form method="POST" action="/user/cars/userListing/">
{{!-- ----------------- user schema inputs------------------- --}}

    <label for="name">Name</label>

        <input type="text" name="name" placeholder="John Doe" > 

    <label for="location">Location</label>

        <input type="text" name="location" placeholder="Atlanta, Georgia" >

    <label for="email">Email</label>

        <input type="email" name="email" placeholder="johndoe@email.com" >


<input type="submit" value="Up for rent!">

</form>
