<h1>Add Yourself to the Party</h1>

<form method="POST" action="/user/userListing/">
    {{!-- ----------------- user schema inputs------------------- --}}
    <ul class="add-user">
        <li class="user-row">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="John Doe"  required>
        </li>

        <li class="user-row">
            <label for="location">Location</label>
            <input type="text" name="location" placeholder="Atlanta, Georgia" required>
        </li>

        <li class="user-row">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="johndoe@email.com"  required>
        </li>


        <a href="/user/" class="homeLink">Back</a>

        <input type="submit" value="Up for rent!" class="homeLink">
    </ul>
</form>

