body {
    background-color: #AAF5FB;
    text-align: center;
    font-family: cursive;

}

/* .home-page {

   
    
} */

.home-header {
    display: flex;
    justify-content: center;
}

.home-user-button {
    display: flex;
    justify-content: center;
}

.home-car-button {
    display: flex;
    justify-content: center;

}

.home-descript-button {
    display: flex;
    justify-content: center;

}


#choose-car {
    font-size: 50px;
}

#welcome {
    font-size: 50px;
}

.homeLink {
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 3px 12px 3px 12px;
    text-decoration: none;
    font-size: 20px;
  
}

a {
    font-size: 20px;
    text-decoration: none;
    
}

li {
    margin: 15px 0 30px 0;
    border-bottom: .5px solid rgba(0, 0, 0, 0.459);
    list-style: none;

}

#name {
    color: black;
}

/* #car-list-item{
    
} */

#name:hover {
    color: blanchedalmond;
}

.homeLink:hover {
    color: blanchedalmond;
    background-color: black;
}