body, html {
    background-color: #AAF5FB;
    text-align: center;
    font-family: cursive;
}

#choose-car {
    font-size: 50px;
}

#welcome {
    font-size: 50px;
}

#addyours, #listedyou {
    color: black;
    border: 1px solid black;
    padding: 3px 12px 3px 12px;
    text-decoration: none;
    font-size: 20px;
  
}

a {
    font-size: 20px;
    text-decoration: none;
    
}

li {
    margin: 15px 0 30px 0;
    border-bottom: .5px solid rgba(0, 0, 0, 0.459);
    list-style: none;

}

#name {
    color: black;
}

#name:hover {
    color: blanchedalmond;
}

#addyours:hover, #listedyou:hover {
    color: blanchedalmond;
    background-color: black;
}