body {
    background-color: #AAF5FB;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;


}

/* ----------------- home ----------------------*/
.home-header, .home-user-button, .home-car-button, .home-descript-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* ------------------ user -------------------*/
.add-user {
  background-color: rgba(14, 14, 14, 0.644);
    border-radius: 9px;
    border: .5px solid black;
}

.user-row{
    display: flex;
    justify-content: flex-end;
    padding: .34em;
    
}

.user-row > input {
    flex: 6;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}



.user-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
    font-size: 20px;
    font-family: 'Bangers', cursive;
}

/* --------------------- car -----------------------*/

.add-car {
    background-color: rgba(14, 14, 14, 0.644);
    border-radius: 9px;
    border: .5px solid black;
  }
  
.car-row{
    display: flex;
    justify-content: flex-end;
    padding: .34em;
      
}
  
.car-row > input {
    flex: 6;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}
  
  
  
.car-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
    font-size: 20px;
    font-family: 'Bangers', cursive;
}

/* --------------description ----------------*/

.add-descript {
    background-color: rgba(14, 14, 14, 0.644);
    border-radius: 9px;
    border: .5px solid black;
  }
  
.descript-row {
    display: flex;
    justify-content: flex-end;
    padding: .34em;
      
}
  
.descript-row > input {
    flex: 6;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}
   
.descript-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
    font-size: 20px;
    font-family: 'Bangers', cursive;
}



 h1 {
    font-family: 'Bangers' ,cursive;
 }


#choose-car {
    font-size: 50px;
}

#welcome {
    font-size: 50px;
}

.homeLink {
    font-family: 'Bangers' ,cursive;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 3px 12px 3px 12px;
    text-decoration: none;
    font-size: 25px;
  
}

a {
    font-size: 20px;
    text-decoration: none;
    
}

li {
    margin: 15px 0 30px 0;
    list-style: none;

}

.user-listing{
    border-bottom: .5px solid rgba(0, 0, 0, 0.459);
}

.car-listing {
    border-bottom: .5px solid rgba(0, 0, 0, 0.459);
}

.descript-list {
    border-bottom: .5px solid rgba(0, 0, 0, 0.459);
}

#d-paragraph {
    font-size: 25px;
}

#d-paragraph:hover {
    background-color: rgba(0, 0, 0, 0.705);
    border: 1px solid black;
    border-radius: 6px;
    color: antiquewhite;
}

#name, #car-name {
    color: black;
}

#car-name {
    font-size: 24px;
    font-weight: 600;
}

#name:hover, #car-name:hover {
    color: blanchedalmond;
}

.homeLink:hover {
    color: blanchedalmond;
    background-color: black;
}

img {
    
}