<h1>Add Your Vehicle</h1>

<form method="POST" action="/user/cars/carListing">
    <ul class="add-car">
        <li class="car-row">
            <label for="Make">Make</label>
            <input type="text" name="make" placeholder="Who made it?" required>
        </li>

        <li class="car-row">
            <label for="Model">Model</label>
            <input type="text" name="model" placeholder="What's the model?" required>
        </li>

        <li class="car-row">
            <label for="Year">Year</label>
            <input type="number" name="year" placeholder="What's the year?" maxlength="4" required>
        </li>

        <a href="/user/" class="homeLink">Back</a>
        <input type="submit" value="Add Car!" class="homeLink">

    </ul>
</form>