<h1 id="choose-car">I Wonder Who Own These Vehicles</h1>
<a href="/user/" class="homeLink">Home</a>

<a href="/user/cars/carListing/" class="homeLink">Refresh If Broke</a>

<a href="/user/cars/addcar" class="homeLink">Add</a>

<ul>
    {{#each allCars}}
    <li class="car-listing">
        <p id="car-name">{{year}} {{make}} {{model}}</p>
        <a href="/user/cars/{{_id}}">Edit</a>
    </li>
    {{/each}}
</ul>