<h1>Describe a Vehicle</h1>

<form method="POST" action="/user/cars/description/search">
    {{!-- --------------- description schema imputs --------------- --}}
    <ul class="add-descript">
        <li class="descript-row">
            <label for="Color">Color</label>
            <input type="text" name="color" placeholder="What color is it?">
        </li>

        <li class="descript-row">
            <label for="Comfort">Comfort</label>
            <input type="text" name="comfort" placeholder="Rate 1-10">
        </li>

        <li class="descript-row">
            <label for="Seats">Seats</label>
            <input type="number" name="seats" placeholder="Whats the seat capacity?">
        </li>

        <li class="descript-row">
            <label for="MPG">MPG</label>
            <input type="number" name="mpg" placeholder="Whats the average mpg city/hwy?">
        </li>

        <li class="descript-row">
            <label for="Child Friendly">Child Friendly</label>
            <input type="text" name="childFriendly" placeholder="yes or no">
        </li>

        <li class="descript-row">
            <label for="Accidents">Accidents</label>
            <input type="text" name="accident" placeholder="has or has not">
        </li>

        <li class="descript-row">
            <label for="Smoking Allowed?">Smoking Allowed</label>
            <input type="text" name="smoker" placeholder="are availabe or are not availiage">
        </li>

        <a href="/user/" class="homeLink">Back</a>
        <input type="submit" value="Add Description" class="homeLink">
    </ul>

</form>