<form method="POST" action="/user/cars/description/search">
    {{!-- --------------- description schema imputs --------------- --}}

    <label for="Color">Color</label>

        <input type="text" name="color" placeholder="What color is it?" >

    <label for="Comfort">Comfort</label>

        <input type="text" name="comfort" placeholder="How comfortable is it" >

    <label for="Seats">Seats</label>

        <input type="number" name="seats" placeholder="Whats the seat capacity?" >

    <label for="MPG">MPG</label>

        <input type="number" name="mpg" placeholder="Whats the average mpg city/hwy?">

    <label for="Child Friendly">Child Friendly</label>

        <input type="text" name="childFriendly" placeholder="Y or N" >

    <label for="Accidents">Accidents</label>

        <input type="text" name="accident" placeholder="Y or N" >

    <label for="Smoking Allowed?">Smoking Allowed</label>
    
        <input type="text" name="smoker" placeholder="Y or N" >

    <input type="submit" value="Add Description">
    
</form>
