<form method="POST" action="/user/cars/description/search">
    {{!-- --------------- description schema imputs --------------- --}}

    <label for="Color">Color</label>

        <input type="text" name="color" placeholder="What color is it?" >

    <label for="Comfort">Comfort</label>

        <input type="text" name="comfort" placeholder="Rate 1-10" >

    <label for="Seats">Seats</label>

        <input type="number" name="seats" placeholder="Whats the seat capacity?" >

    <label for="MPG">MPG</label>

        <input type="number" name="mpg" placeholder="Whats the average mpg city/hwy?">

    <label for="Child Friendly">Child Friendly</label>

        <input type="text" name="childFriendly" placeholder="yes or no" >

    <label for="Accidents">Accidents</label>

        <input type="text" name="accident" placeholder="has or has not" >

    <label for="Smoking Allowed?">Smoking Allowed</label>
    
        <input type="text" name="smoker" placeholder="are availabe or are not availiage" >

    <input type="submit" value="Add Description" class="homeLink">
    
</form>

<a href="/user/" class="homeLink">Back</a>
