<h1>Add Yourself</h1>

<form method="GET" action="/user/cars/addcar">
    <label for="name">Name</label>

        <input type="text" name="name" placeholder="John Doe" required> 

    <label for="location">Location</label>

        <input type="text" name="location" placeholder="Atlanta, Georgia" required>

    <label for="email">Email</label>

        <input type="email" name="email" placeholder="johndoe@email.com" required>

    <input type="submit" value="Next: Add Car">

</form>