<h1 id="welcome">Welcome to the InterWeb Parade!</h1>

<a href="/user/renteeadd" class="homelink" id="addyours">Add Yourself</a>

<a href="/user/cars/userListing" class="homelink" id="listedyou">User List</a>

<br>
<br>

<a href="/user/cars/addcar" class="homelink">Add a Car</a>

<a href="/user/cars/carListing" class="homelink">List of Cars</a>

<br>
<br>


<a href="" class="homelink">Describe your Car</a>

<a href="" class="homelink">List of Descriptions</a>