<h1 id="welcome">Welcome to CarRnD!</h1>

<button onclick="window.location.href='/user/renteeadd'" id="rentee">Rentee</button>

<button onclick="window.location.href='/user/cars/carlisting'" id="renter">Renter</button>