<h1 id="welcome">Welcome to CarRnD!</h1>

<button onclick="window.location.href='/user/addcar'" id="rentee">Rentee</button>

<button onclick="window.location.href='/user/cars/'" id="renter">Renter</button>